p {
    color: rgb(55, 0, 255);
    text-align: center;
  } 

  h1{

    background-color: rgb(160, 252, 201);
    font-family: 'Times New Roman', Times, serif;
    
    }
    
    ul {
        background-color: rgb(252, 241, 229);
        color: blueviolet;
        font-size: large;
        font-style: italic;
      }

      ol {
        background-color: bisque;
        color: rgb(58, 173, 58);
        font-size: large;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

      }

