p {
    color: rgb(185, 8, 162);
    background-color: azure;
  border-color: blueviolet;  } 

  h1{

    background-color: rgb(160, 252, 201);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: larger;
    border-style: solid;
    }
    
    ul {
        background-color: rgb(252, 241, 229);
        color: blueviolet;
        font-size: large;
        font-style: italic;

      }

      ol {
        background-color: bisque;
        color: rgb(58, 173, 58);
        font-size: large;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

      }


      h4{
        background-color: rgb(177, 160, 252);
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
        text-align: center;
        border-style: solid;


      }

